<header class="d-flex justify-content-center py-2 mb-2"> 
    <ul class="nav nav-pills gap-5"> 
        <li class="nav-item">
            <% if(locals.current == "home") { %>
                <a href="/home" class="nav-link active" aria-current="page">
                    <span class="nav-icon"><img src="/images/home-svgrepo-white.svg" alt=""></span>
                    <span class="nav-text">Home</span>
                </a>
            <% } else { %>
                <a href="/home" class="nav-link">
                    <span class="nav-icon"><img src="/images/home-svgrepo-green.svg" alt=""></span>
                    <span class="nav-text">Home</span>
                </a>    
            <% } %> 
        </li> 
        <li class="nav-item">
            <% if(locals.current == "cv") { %>
                <a href="/cv" class="nav-link active" aria-current="page">
                    <span class="nav-icon"><img src="/images/curriculum-with-picture-svgrepo-white.svg" alt=""></span>
                    <span class="nav-text">Lebenslauf</span>
                </a>
            <% } else { %>
                <a href="/cv" class="nav-link">
                    <span class="nav-icon"><img src="/images/curriculum-with-picture-svgrepo-green.svg" alt=""></span>
                    <span class="nav-text">Lebenslauf</span>
                </a>    
            <% } %> 
        </li>
        <li class="nav-item">
            <% if(locals.current == "portfolio") { %>
                <a href="/portfolio" class="nav-link active" aria-current="page">
                    <span class="nav-icon"><img src="/images/tick-circle-svgrepo-white.svg" alt=""></span>
                    <span class="nav-text">Projekte</span>
                </a>
            <% } else { %>
                <a href="/portfolio" class="nav-link">
                    <span class="nav-icon"><img src="/images/tick-circle-svgrepo-green.svg" alt=""></span>
                    <span class="nav-text">Projekte</span>
                </a>    
            <% } %> 
        </li>
        <li class="nav-item">
            <% if(locals.current == "about-me") { %>
                <a href="/about-me" class="nav-link active" aria-current="page">
                    <span class="nav-icon"><img src="/images/profile-outlined-svgrepo-white.svg" alt=""></span>
                    <span class="nav-text">Über Mich</span>
                </a>
            <% } else { %>
                <a href="/about-me" class="nav-link">
                    <span class="nav-icon"><img src="/images/profile-outlined-svgrepo-green.svg" alt=""></span>
                    <span class="nav-text">Über Mich</span>
                </a>    
            <% } %> 
        </li>
        <li class="nav-item">
            <% if(locals.current == "contact") { %>
                <a href="/contact" class="nav-link active" aria-current="page">
                    <span class="nav-icon"><img src="/images/mail-svgrepo-white.svg" alt=""></span>
                    <span class="nav-text">Kontakt</span>
                </a>
            <% } else { %>
                <a href="/contact" class="nav-link">
                    <span class="nav-icon"><img src="/images/mail-svgrepo-green.svg" alt=""></span>
                    <span class="nav-text">Kontakt</span>
                </a>    
            <% } %> 
        </li>
    </ul> 
</header>