html, body{
    margin: 0;
}
body{
    max-width: 1150px;
    margin: 0 auto;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    background-color: #31363F;
    border-radius: 50px;
    margin: 20px !important;
    padding: 10px;
}
.nav-link{
    color: #76ABAE;
    font-family: "Quicksand", sans-serif;
}
li.nav-item > a.active{
    background-color: #76ABAE !important;
    border-radius: 20px;
    color: #ffffff !important;
}
span.nav-icon{
    display: flex;
    justify-content: center;
}
.nav-icon > img{
    width: 20px;
}
.mobile-spacer{
    display: none;
}

.content-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 900px;
    gap: 15px;
    margin: 20px;
}
.section{
    border-radius: 20px;
    background-color: #31363F;
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.section:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic > img{
    transition: 0.3s ease-in-out;
}
.pic > img:hover{
    transform: scale(1.06);
}
.hobby1-pic{
    grid-row: span 1;
    grid-column: span 1;
    background-color: #76ABAE;
}
.hobby1-text{
    grid-row: span 1;
    grid-column: span 3;
}
.hobby2-text{
    grid-row: span 1;
    grid-column: span 3;
}
.hobby2-pic{
    grid-row: span 1;
    grid-column: span 1;
    background-color: #76ABAE;
}
.hobby3-pic{
    grid-row: span 1;
    grid-column: span 1;
    background-color: #76ABAE;
}
.hobby3-text{
    grid-row: span 1;
    grid-column: span 3; 
}
.hobby4-text{
    grid-row: span 1;
    grid-column: span 3;
}
.hobby4-pic{
    grid-row: span 1;
    grid-column: span 1;
    background-color: #76ABAE;
}

@media(max-width: 1024px){
    .content-container{
        display: flex;
        flex-direction: column;
    }
    header {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1000;
        height: 70px;
        display: flex;
        align-items: center;
        border: 1px solid #76ABAE;
    }
    .nav-text{
        display: none;
    }
    .nav-icon > img{
        width: 28px;
        height: 28px;
    }

    .pic{
        height: 60px;
    }
    img{
        height: 45px;
        align-self: flex-start;
    }

    .hobby1-pic{
        order: 0;
    }
    .hobby1-text{
        order: 1;
    }
    .hobby2-text{
        order: 3;
    }
    .hobby2-pic{
        order: 2;
    }
    .hobby3-pic{
        order: 4;
    }
    .hobby3-text{
        order: 5;
    }
    .hobby4-text{
        order: 7;
    }
    .hobby4-pic{
        order: 6;
    }
    .mobile-spacer{
        order: 8;
        display: flex;
        padding: 39px;
    }
}

@media(max-width: 768px){
    .gap-5{
        gap: 2rem !important;
    }
    .nav-icon > img{
        width: 22px;
        height: 22px;
    }
}

@media(max-width: 510px){
    .gap-5{
        gap: 1rem !important;
    }
    li.nav-item > a.active{
        width: 40px;
    }
}

@media(max-width: 394px){
    .gap-5{
        gap: 0rem !important;
    }
    .nav-icon > img{
        width: 17px;
        height: 17px;
    }
}