<!DOCTYPE html>
<html lang="de">

<%- include("partials/head") %>

<body>
    
    <%- include("partials/navbar") %>

    <div class="content-container">
        <div class="edu-caption caption section">
            <img src="/images/graduation-svgrepo-com (1).svg" alt="education-hat">
            <h1> Schulische Laufbahn</h1>
        </div>
        <div class="exp-caption-and-button section">
            <div class="exp-caption caption section">
                <img src="/images/work-alt-bag-svgrepo-com.svg" alt="working-case">
                <h1> Arbeitserfahrung</h1>
            </div>
            <div class="download-button-container">
                <a href="#" style="text-decoration: none;">
                    <img class="download-button" src="/images/download-minimalistic-svgrepo-com.svg" alt="">
                    <p style="color: #ffffff; font-size: 12px; margin-bottom: 0px; text-align: center;">PDF</p>
                </a>
            </div>
        </div>
        
        <div class="edu-content section">
            <ul>
                <li>
                    <h5>LMU München</h5>
                    <p>2021 - heute</p>
                    <h6>Informatik plus Computerlinguistik</h6>
                </li>
                <hr>
                <li>
                    <h5>LMU München</h5>
                    <p>2019 - 2021</p>
                    <h6>Informatik + Sprache, Literatur, Kultur</h6>
                </li>
                <hr>
                <li>
                    <h5>TU München</h5>
                    <p>2018 - 2019</p>
                    <h6>Elektro- und Informationstechnik</h6>
                </li>
                <hr>
                <li>
                    <h5>Maria-Theresia-Gymnasium München</h5>
                    <p>2009 - 2018</p>
                    <h6>Allgemeine Hochschulreife (Abitur)</h6>
                </li>
            </ul>
        </div>
        <div class="exp-content section">
            <ul>
                <li>
                    <h5>August 2021 - heute: Bayerische Akademie der Wissenschaften</h5>
                    <h6>Studentische Hilfskraft am Leibniz Rechenzentrum</h6>
                    <ul>
                        <li>First und Second Level Support für LRZ-Dienste, die von Studenten und Dozenten genutzt werden</li>
                        <li>Überwachung und Monitoring der Infrastruktur des Münchner Wissenschaftsnetzes, wie SuperMUC-NG, Linux Cluster und Backup-Systeme</li>
                        <li>Bearbeiten und Verwalten der Confluence Dokumentationsseite des LRZ</li>
                        <li>Verteilen der Zutrittskarten zum Rechnerwürfel für LRZ-Beschäftigte</li>
                        <li>Ansprechpartner für Polizei und Feuerwehr bei Gefahr außerhalb der Öﬀnungszeiten des LRZ</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>April 2022 - November 2022: Statistisches Amt München</h5>
                    <h6>Erhebungsbeauftragter beim Zensus (ehrenamtlich)</h6>
                </li>
                <hr>
                <li>
                    <h5>Dezember 2019 - April 2020: Bayerischer Rundfunk (Bayern1 Radio)</h5>
                    <h6>Bayern1 Hörerservice</h6>
                    <ul>
                        <li>Nutzung von MS Oﬃce Diensten (u.a. Word, Excel, Outlook)</li>
                        <li>Telefonischer Support und Kontakt mit Bayern1 Hörern</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>AHPK GmbH</h5>
                    <h6>Minijobber im Verkauf</h6>
                    <ul>
                        <li>Aktive Beratung der Kundschaft im Jack&Jones Einzelhandel</li>
                        <li>Inventurhilfe</li>
                        <li>Warenannahme und -sicherung</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="mobile-spacer"></div>
    </div>
</body>
</html>