<!DOCTYPE html>
<html lang="de">

<%- include("partials/navbar") %>

<body>
 <%- include("partials/head") %>
    <div class="content-container">
        <div class="proj1-screenshot section">

        </div>
        <div class="proj1-text section">

        </div>
        <div class="skills section">

        </div>
        <div class="proj2-text section">

        </div>
        <div class="proj2-screenshot section">

        </div>
        <div class="proj3-screenshot section">

        </div>
        <div class="proj3-text section">

        </div>
        <div class="github-link section">

        </div>
    </div>
</body>
</html>