<!DOCTYPE html>
<html lang="tr">

<%- include("partials/head") %>

<body>

    <%- include("partials/navbar-tr") %>
    
    <div class="content-container">
        <div class="hobby1-pic pic section">
            <img src="/images/profile-favorite-1333-svgrepo-com.svg" alt="">
        </div>
        <div class="hobby1-text section">
            <h3 style="color: #4E9AE6; align-self: flex-start;">🙋🏻‍♂️ Ben kimim?</h3>
            <p>“Merhaba, adım Arda – Münih'ten bir bilgisayar bilimci ve Bachelor of Science. Fikirleri işlevsel ve kullanıcı dostu (ve aynı zamanda geliştirici dostu) uygulamalara dönüştürmeyi ve anlatmayı seviyorum. Bilgisayarla çalışmanın yanın dışında piyano çalıyorum, yürüyüş yapıyorum veya seyahat ediyorum ve satranç oynamaktan hoşlanıyorum.”</p>
        </div>
        <div class="hobby2-text section">
            <h3 style="color: #4E9AE6; align-self: flex-start;">Neler yapabiliyorum? 📚</h3>
            <p>“HTML, CSS, JavaScript, Node.js, Express ve Git konularında, öğrenim hayatım ve kendi projelerim aracılığıyla edindiğim deneyime sahibim. Ayrıca üniversitede yoğun olarak kullandığım Java ve Python dillerine de hakimim. Takım çalışmasına yatkınım ve zor gözüken problemleri yapılandırılmış bir şekilde çözebiliyorum.”</p>
        </div>
        <div class="hobby2-pic pic section">
            <img src="/images/programming-svgrepo-com.svg" alt="">
        </div>
        <div class="hobby3-pic pic section">
            <img src="/images/lightbulb-on-svgrepo-com.svg" alt="">
        </div>
        <div class="hobby3-text section">
            <h3 style="color: #4E9AE6; align-self: flex-start;">💼 Hangi deneyimlere sahibim?</h3>
            <p>“Bilgisayar bilimi eğitimim sırasında boş zamanlarımda Coin.info, GazeQuestionnaire ve bu web sitesi dahil olmak üzere birçok proje geliştirdim. Üniversitedeki bir staj sayesinde Java ile yazılım geliştirme konusunda pratik deneyim kazandım. Ayrıca ‘andrena Objects’ şirketinde bir haftalık SCRUM atölyesine katıldım ve burada SCRUM metodolojisiyle uygulamalı bir proje gerçekleştirdik. GitHub portföyümde geliştirdiğim birçok proje yer almaktadır.”</p>
        </div>
        <div class="hobby4-text section">
            <h3 style="color: #4E9AE6; align-self: flex-start;">Gelecek vizyonum? 📈</h3>
            <p>Düzenli bir çalışma anlayışına, temiz çözümlere ve sürdürülebilir sistemlere büyük önem veriyorum. Amacım, karmaşık gereksinimleri doğru şekilde anlayıp analiz ederek iyi düşünülmüş ve pratik çözümlere dönüştürmektir. Sürekli öğrenme ve ekip içinde yakın iş birliği benim için en az bunlar kadar önemlidir.</p>
        </div>
        <div class="hobby4-pic pic section">
            <img src="/images/rocket-svgrepo-com.svg" alt="">
        </div>
        <div class="mobile-spacer"></div>
    </div>

</body>
</html>
