<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head") %>

    <body>

        <%- include("partials/navbar-en") %>
        
        <div class="content-container">
            <div class="caption section">
                <h1 style="color: #2977FF;">Contact</h1>
                <p>Do you have questions or an exciting project? Just send me a message!</p>
            </div>
            <div class="emoji section">
                <img src="/images/mail-contact.svg" alt="">
            </div>
            <div class="mailto section">
                <form class="contact-form" id="contactForm">
                    <input class="your-name" type="text" name="name" placeholder="Name / Company..." required>
                    <input class="your-mail" type="email" name="email" placeholder="Email..." required>
                    <input class="subject" type="text" name="subject" placeholder="Subject...">
                    <textarea class="message" name="message" placeholder="✏️ Your message" required></textarea>
                    <button class="send-button" type="submit">Send</button>
                </form>
            </div>

            <div class="adress section">
                <h2 style="color: #2977FF !important">✉️ My email:</h2>
                <p>kizilenis@live.de</p>
                <hr>
                <h2 style="color: #2977FF !important">📍Location:</h2>
                <p>Munich, Germany</p>
            </div>
            <div class="contacts section">
                <div class="holographic-container">
                    <div class="holographic-card">
                        <a href="https://github.com/ardakizilenis"><img src="/images/github-142-svgrepo-com.svg" alt="github"></a>
                    </div>
                </div>
                <div class="holographic-container">
                    <div class="holographic-card">
                        <a href="https://linkedin.com/in/arda-kizilenis-b22180378"><img src="/images/linkedin-linked-in-svgrepo-com (1).svg" alt=""></a>
                    </div>
                </div>
                <div class="holographic-container">
                    <div class="holographic-card">
                        <a href="https://www.xing.com/profile/IsikArda_Kizilenis/web_profiles?nwt_nav=profile_icon"><img src="/images/xing-svgrepo-com.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="mobile-spacer"></div>
        </div>
        <script src="js/contact-mailto.js"></script>
    </body>
</html>
