<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    
    <%- include("partials/navbar-en") %>

    <div class="content-container">
        <div class="edu-caption caption section">
            <img src="/images/graduation-svgrepo-com (1).svg" alt="education-hat">
            <h1> Education</h1>
        </div>
        <div class="exp-caption-and-button section">
            <div class="exp-caption caption section">
                <img src="/images/work-alt-bag-svgrepo-com.svg" alt="working-case">
                <h1> Work Experience</h1>
            </div>
            <div class="download-button-container">
                <a href="resources/PublicCV-ardakizilenis.pdf" download="PublicCV-ardakizilenis" style="text-decoration: none;">
                    <div class="holographic-container">
                        <div class="holographic-card" style="display: flex; flex-direction: column;">
                            <img class="download-button" src="/images/download-minimalistic-svgrepo-com.svg" alt="Download Button Image" style="height: 50px; width: 80px; border-radius: 20px;">
                            <p style="color: #ffffff; font-size: 12px; margin-bottom: 0px; text-align: center;">PDF</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="edu-content section">
            <ul>
                <li>
                    <h5>University of Munich (LMU)</h5>
                    <p>04/2021 - 03/2026</p>
                    <h6>Computer Science plus Computerlinguistik</h6>
                    <ul>
                        <li>Diploma: Bachelor of Science (B.Sc)</li>
                        <li>Bachelorthesis in English</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>University of Munich (LMU)</h5>
                    <p>10/2019 - 03/2021</p>
                    <h6>Computer Science + Language, Literature, Culture</h6>
                </li>
                <hr>
                <li>
                    <h5>Technical University Munich (TUM)</h5>
                    <p>10/2018 - 03/2019</p>
                    <h6>Electrical engineering and Information Technology</h6>
                </li>
                <hr>
                <li>
                    <h5>Maria-Theresia-Gymnasium Munich</h5>
                    <p>09/2010 - 06/2018</p>
                    <h6>High School Diploma (Abitur)</h6>
                    <ul>
                        <li>Attended the Kent School of English (England)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="exp-content section">
            <ul>
                <li>
                    <h5>08/2021 - Today: Leibniz Supercomputing Center (LRZ)</h5>
                    <h6>Student assistant at the LRZ IT-Desk</h6>
                    <ul>
                        <li>First and second level support for LRZ services used by students and lecturers</li>
                        <li>Monitoring and oversight of the infrastructure of the Munich Science Network, such as SuperMUC-NG, Linux clusters and backup systems.</li>
                        <li>Editing and managing the LRZ's Confluence documentation page</li>
                        <li>Contact person for police and fire department in case of danger outside the opening hours of the LRZ</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>04/2022 -  11/2022: Munich Statistical Office</h5>
                    <h6>Census enumerator (volunteer)</h6>
                    <ul>
                        <li>Independent and self-reliant collection and evaluation of statistical data for the 2022 census</li>
                        <li>Expansion of communication skills</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>12/2019 - 04/2020: Bayern 1 Radio</h5>
                    <h6>Bayern 1 Listener Service (Minijob)</h6>
                    <ul>
                        <li>Telephone support and contact with Bayern1 Listeners</li>
                        <li>Use of MS Office services (including Word, Excel, Outlook)</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="mobile-spacer"></div>
    </div>
</body>
</html>