<!DOCTYPE html>
<html lang="tr">

<%- include("partials/head") %>

<body>
    
    <%- include("partials/navbar-tr") %>

    <div class="content-container">
        <div class="edu-caption caption section">
            <img src="/images/graduation-svgrepo-com (1).svg" alt="education-hat">
            <h1> Eğitim</h1>
        </div>
        <div class="exp-caption-and-button section">
            <div class="exp-caption caption section">
                <img src="/images/work-alt-bag-svgrepo-com.svg" alt="working-case">
                <h1> İş Deneyimi</h1>
            </div>
            <div class="download-button-container">
                <a href="resources/PublicCV-ardakizilenis.pdf" download="PublicCV-ardakizilenis" style="text-decoration: none;">
                    <div class="holographic-container">
                        <div class="holographic-card" style="display: flex; flex-direction: column;">
                            <img class="download-button" src="/images/download-minimalistic-svgrepo-com.svg" alt="Download Button Image" style="height: 50px; width: 80px; border-radius: 20px;">
                            <p style="color: #ffffff; font-size: 12px; margin-bottom: 0px; text-align: center;">PDF</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="edu-content section">
            <ul>
                <li>
                    <h5>Münih Ludwig Maximilian Üniversitesi (LMU)</h5>
                    <p>04/2021 - 03/2025</p>
                    <h6>Bilgisayar Bilimleri ve Bilgisayar Dilbilimi</h6>
                    <ul>
                        <li>Diploma: Fen Bilimleri Lisansı (B.Sc)</li>
                        <li>Lisans tezi İngilizce</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>Münih Ludwig Maximilian Üniversitesi (LMU)</h5>
                    <p>10/2019 - 03/2021</p>
                    <h6>Dil, Edebiyat, Kültür</h6>
                </li>
                <hr>
                <li>
                    <h5>Münih Teknik Üniversitesi (TUM)</h5>
                    <p>10/2018 - 03/2019</p>
                    <h6>Elektrik Mühendisliği ve Bilgi Teknolojileri</h6>
                </li>
                <hr>
                <li>
                    <h5>Maria-Theresia-Gymnasium Münih</h5>
                    <p>09/2010 - 06/2018</p>
                    <h6>Lise Diploması (Abitur)</h6>
                    <ul>
                        <li>Kent School of English’te eğitim alındı (İngiltere)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="exp-content section">
            <ul>
                <li>
                    <h5>08/2021 - Günümüz: Leibniz Süper Bilgisayar Merkezi (LRZ)</h5>
                    <h6>LRZ BT Destek Masasında öğrenci asistanı</h6>
                    <ul>
                        <li>Öğrenciler ve öğretim görevlileri tarafından kullanılan LRZ hizmetleri için birinci ve ikinci seviye destek</li>
                        <li>SuperMUC-NG, Linux kümeleri ve yedekleme sistemleri gibi Münih Bilim Ağı altyapısının izlenmesi ve denetlenmesi</li>
                        <li>LRZ’nin Confluence dokümantasyon sayfasının düzenlenmesi ve yönetilmesi</li>
                        <li>LRZ’nin çalışma saatleri dışında acil durumlarda polis ve itfaiye için irtibat kişisi</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>04/2022 - 11/2022: Münih İstatistik Ofisi</h5>
                    <h6>Nüfus sayımı görevlisi (gönüllü)</h6>
                    <ul>
                        <li>2022 nüfus sayımı için istatistiksel verilerin bağımsız ve kendi sorumluluğunda toplanması ve değerlendirilmesi</li>
                        <li>İletişim becerilerinin geliştirilmesi</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>12/2019 - 04/2020: Bayern 1 Radyosu</h5>
                    <h6>Bayern 1 Dinleyici Hizmetleri (Mini iş)</h6>
                    <ul>
                        <li>Telefonla destek ve Bayern 1 dinleyicileriyle iletişim</li>
                        <li>MS Office uygulamalarının kullanımı (Word, Excel, Outlook dahil)</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="mobile-spacer"></div>
    </div>
</body>
</html>
