<!DOCTYPE html>
<html lang="de">

<%- include("partials/head") %>

<body>
    
    <%- include("partials/navbar") %>

    <div class="content-container">
        <div class="edu-caption caption section">
            <img src="/images/graduation-svgrepo-com (1).svg" alt="education-hat">
            <h1> Schulische Laufbahn</h1>
        </div>
        <div class="exp-caption-and-button section">
            <div class="exp-caption caption section">
                <img src="/images/work-alt-bag-svgrepo-com.svg" alt="working-case">
                <h1> Arbeitserfahrung</h1>
            </div>
            <div class="download-button-container">
                <a href="resources/PublicCV-ardakizilenis.pdf" download="PublicCV-ardakizilenis" style="text-decoration: none;">
                    <div class="holographic-container">
                        <div class="holographic-card" style="display: flex; flex-direction: column;">
                            <img class="download-button" src="/images/download-minimalistic-svgrepo-com.svg" alt="Download Button Image" style="height: 50px; width: 80px; border-radius: 20px;">
                            <p style="color: #ffffff; font-size: 12px; margin-bottom: 0px; text-align: center;">PDF</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="edu-content section">
            <ul>
                <li>
                    <h5>Universität München (LMU)</h5>
                    <p>04/2021 - 03/2026</p>
                    <h6>Informatik plus Computerlinguistik</h6>
                    <ul>
                        <li>Abschluss: Bachelor of Science (B.Sc)</li>
                        <li>Bachelorarbeit auf Englisch</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>Universität München (LMU)</h5>
                    <p>10/2019 - 03/2021</p>
                    <h6>Informatik + Sprache, Literatur, Kultur</h6>
                </li>
                <hr>
                <li>
                    <h5>Technische Universität München (TUM)</h5>
                    <p>10/2018 - 03/2019</p>
                    <h6>Elektro- und Informationstechnik</h6>
                </li>
                <hr>
                <li>
                    <h5>Maria-Theresia-Gymnasium München</h5>
                    <p>09/2010 - 06/2018</p>
                    <h6>Allgemeine Hochschulreife (Abitur)</h6>
                    <ul>
                        <li>Besuch der Kent School of English (England)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="exp-content section">
            <ul>
                <li>
                    <h5>August 2021 - Heute: Leibniz Rechenzentrum</h5>
                    <h6>Studentische Hilfskraft am LRZ IT-Desk</h6>
                    <ul>
                        <li>First und Second Level Support für LRZ-Dienste, die von Studenten und Dozenten genutzt werden</li>
                        <li>Überwachung und Monitoring der Infrastruktur des Münchner Wissenschaftsnetzes, wie SuperMUC-NG, Linux Cluster und Backup-Systeme</li>
                        <li>Bearbeiten und Verwalten der Confluence Dokumentationsseite des LRZ</li>
                        <li>Ansprechpartner für Polizei und Feuerwehr bei Gefahr außerhalb der Öﬀnungszeiten des LRZ</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>April 2022 - November 2022: Statistisches Amt München</h5>
                    <h6>Erhebungsbeauftragter beim Zensus (ehrenamtlich)</h6>
                    <ul>
                        <li>Selbstständiges und eigenverantwortliches Sammeln und Auswerten von
                            statistischen Daten für den Zensus 2022</li>
                        <li>Erweiterung kommunikativer Fähigkeiten</li>
                    </ul>
                </li>
                <hr>
                <li>
                    <h5>Dezember 2019 - April 2020: Bayern 1 Radio</h5>
                    <h6>Bayern 1 Hörerservice (Minijob)</h6>
                    <ul>
                        <li>Telefonischer Support und Kontakt mit Bayern1 Hörern</li>
                        <li>Nutzung von MS Oﬃce Diensten (u.a. Word, Excel, Outlook)</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="mobile-spacer"></div>
    </div>
</body>
</html>