<!DOCTYPE html>
<html lang="de">

    <%- include("partials/head") %>

    <body>
        
        <%- include("partials/navbar") %>

        <div class="content-container">
            <div class="name section">
                <h1>Arda Kızıleniş</h1>
            </div>
            <div class="pic section">
                <img class="profile-picture" src="/images/50E6463A-0317-4EE3-8740-3105819C3C74.jpg" alt="profile-picture">
            </div>
            <div class="lang section">
                <img src="/images/language-svgrepo-com (2).svg" alt="language-icon">
                <p style="text-align: justify; color: #FFFFFF; font-family: 'Quicksand', sans-serif;">Diese Sprachen spreche ich. Klicke zum Übersetzen:</p>
                <div class="language-choice">
                    <a href="#"><img class="flag-img" src="/images/flag-for-flag-germany-svgrepo-com (1).svg" alt="germany-flag"></a>
                    <a href="#"><img class="flag-img" src="/images/flag-for-flag-united-kingdom-svgrepo-com.svg" alt="uk-flag"></a>
                    <a href="#"><img class="flag-img" src="/images/flag-for-flag-turkey-svgrepo-com.svg" alt="türkiye-flag"></a>
                </div>
            </div>
            <div class="quote section">
                <blockquote><span style="color: #76ABAE;">Mein Fokus:</span> Moderne Webtechnologien und benutzerfreundliche Anwendungen. <br><span style="color: #76ABAE;">Meine Leidenschaft:</span> Komplexe Probleme durch kreative Lösungen verständlich machen.</blockquote>
                <button type="button" class="btn btn-primary">Mein Portfolio</button>
                <button type="button" class="btn btn-secondary">Kontakt</button>
            </div> 
            <div class="mobile-spacer"></div>
        </div>
    </body>
</html>