<!DOCTYPE html>
<html lang="de">

<%- include("partials/navbar") %>

<body>
 <%- include("partials/head") %>
    <div class="content-container">
        <div class="proj1-screenshot section">
            <img class="proj-img" src="/images/proj1.png" alt="proj1">
        </div>
        <div class="proj1-text section">
            <h3><a href="https://www.coininfo.app">Coin.info (coininfo.app)</a></h3>
            <p><a href="https://www.coininfo.app">Coin.info</a> ist ein Hobby Projekt, dass einen Überblick über den Kryptomarkt bietet. 
                Dank der Coinranking REST-API Einbindung und einer starken Suchfunktion können Tausende Coins sehr schnell gefunden und gelistet werden. 
                Die "News"-Section enthält dank Gizmodos "News-API" stets die aktuellsten und relevantesten Nachrichten rund um den Markt für Cryptotrader.</p>
        </div>
        <div class="skills section">
            <h3 class="skills-title">Fähigkeiten</h3>
            <div class="skills-grid">
                <img class="skill-img" src="/images/html.png" alt="">
                <img class="skill-img" src="/images/css.png" alt="">
                <img class="skill-img" src="/images/js.png" alt="">
                <img class="skill-img" src="/images/nodejs.png" alt="">
                <img class="skill-img" src="/images/postgre.png" alt="">
                <img class="skill-img" src="/images/react.png" alt="">
                <img class="skill-img" src="/images/java.png" alt="">
                <img class="skill-img" src="/images/python.png" alt="">
                <img class="skill-img" src="/images/github-142-svgrepo-com.svg" alt="">
            </div>
        </div>
        <div class="proj2-text section">
            <h3><a href="https://ardakizilenis.github.io/simon-game/">Simon Game</a></h3>
            <p>Das <a href="https://ardakizilenis.github.io/simon-game/">Simon Game</a> ist eine Web-Umsetzung des bekannten Gedächtnisspiels. Spieler müssen eine immer länger werdende Farbsequenz korrekt reproduzieren. Das Projekt demonstriert meine Fähigkeiten in JavaScript, Event-Handling und Zustandslogik sowie den Umgang mit Nutzerinteraktionen und dynamischem UI-Feedback.</p>
        </div>
        <div class="proj2-screenshot section">
            <img class="proj-img" src="/images/proj2.png" alt="proj2">
        </div>
        <div class="proj3-screenshot section">
            <img class="proj-img" src="/images/proj3.png" alt="proj3">
        </div>
        <div class="proj3-text section">
            <h3>Tetris (Java-Projekt)</h3>
            <p>Dieses Projekt ist eine vollständige Java-Implementierung des Klassikers <a href="https://github.com/ardakizilenis/Tetris">Tetris</a>. 
                Der Fokus liegt auf sauberer Spiellogik, Kollisions­erkennung und der Verwaltung von Spielzuständen wie Punkte, Level und nächste Steine. 
                Das Projekt zeigt mein Verständnis objektorientierter Programmierung, Zustandsmanagement und grundlegender Game-Loops in Java. </p>
        </div>
        <div class="github-link section">
            <h3 class="github-link-title">Alle Projekte</h3>
            <div class="github-img-container">
                <a href="https://github.com/ardakizilenis"><img class="github-img" src="/images/github-142-svgrepo-com.svg" alt=""></a>
            </div>
        </div>
        <div class="mobile-spacer"></div>
    </div>
</body>
</html>