html, body{
    margin: 0;
    scroll-behavior: smooth;
}
body{
    max-width: 1150px;
    margin: 0 auto;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    background-color: #31363F;
    border-radius: 50px;
    margin: 20px !important;
    padding: 10px;
}
.nav-link{
    color: #76ABAE;
    font-family: "Quicksand", sans-serif;
}
li.nav-item > a.active{
    background-color: #76ABAE !important;
    border-radius: 20px;
    color: #ffffff !important;
}
span.nav-icon{
    display: flex;
    justify-content: center;
}
.nav-icon > img{
    width: 20px;
}
.mobile-spacer{
    display: none;
}

.content-container{
    height: 600px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}
.section{
    border-radius: 20px;
    transition: 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    scroll-margin-top: 90px;
}
.section:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}
.name{
    grid-column: span 3;
    grid-row: span 1;
    background-color: #76ABAE;
    display: grid;
    justify-content: center;
    align-items: center;
}
.name > h1{
    font-family: "Quicksand", sans-serif;
    font-size: 80px;
    color: #EEEEEE;
}
.arda{
    color: #76ABAE;
}
.pic{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #31363F;
}
.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.lang{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #31363F;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
.language-choice{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.flag-img{
    width: 50px;
}

.quote{
    grid-column: span 3;
    grid-row: span 1;
    background-color: #31363F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EEEEEE;
    font-family: "PT Serif Caption", serif;
    font-size: 25px;
    text-align: left;
    font-style: italic;
    padding: 50px;
}
.btn{
    width: 100%;
    font-family: "Quicksand", sans-serif;
    border-radius: 50px;
}
.btn-primary {
  background-color: #76ABAE;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.btn-secondary {
    border: none;
    padding: 10px 20px;
}

.btn:hover {
    color: #76ABAE;
    background-color: #222831;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

@media(max-width: 1024px){
    .content-container{
        display: flex;
        flex-direction: column;
    }
    .pic{
        height: 300px;
    }
    .profile-picture{
        object-position: 50% 32%;
    }
    header {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1000;
        height: 70px;
        display: flex;
        align-items: center;
        border: 1px solid #76ABAE;
    }
    .nav-text{
        display: none;
    }
    .nav-icon > img{
        width: 28px;
        height: 28px;
    }
    .mobile-spacer{
        order: 8;
        display: flex;
        padding: 38px;
    }
    .language-choice{
        justify-content: space-evenly;
    }
    .quote.section{
        text-align: center;
    }
}

@media(max-width: 768px){
    .gap-5{
        gap: 2rem !important;
    }
    .nav-icon > img{
        width: 22px;
        height: 22px;
    }
    .name > h1{
        font-size: 40px !important;
    }
}

@media(max-width: 510px){
    .gap-5{
        gap: 1rem !important;
    }
    li.nav-item > a.active{
        width: 40px;
    }
}

@media(max-width: 394px){
    .gap-5{
        gap: 0rem !important;
    }
    .nav-icon > img{
        width: 17px;
        height: 17px;
    }
    .name > h1{
        font-size: 20px;
    }
    .quote{
        padding: 15px;
    }
    blockquote{
        font-size: x-large;
    }
}