html, body{
    margin: 0;
}
body{
    max-width: 1150px;
    margin: 0 auto;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    background-color: #31363F;
    border-radius: 50px;
    margin: 20px !important;
    padding: 10px;
}
.nav-link{
    color: #76ABAE;
    font-family: "Quicksand", sans-serif;
}
li.nav-item > a.active{
    background-color: #76ABAE !important;
    border-radius: 20px;
    color: #ffffff !important;
}
span.nav-icon{
    display: flex;
    justify-content: center;
}
.nav-icon > img{
    width: 20px;
}

.content-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    height: 700px;
    gap: 20px;
    margin: 20px;
}
.section{
    border-radius: 20px;
    background-color: #31363F;
}
.proj1-screenshot{
    grid-row: span 1;
    grid-column: span 1;
}
.proj1-text{
    grid-row: span 1;
    grid-column: span 3;
}
.skills{
    grid-row: span 2;
    grid-column: span 1;
}
.proj2-text{
    grid-row: span 1;
    grid-column: span 3;
}
.proj2-screenshot{
    grid-row: span 1;
    grid-column: span 1;
}
.proj3-screenshot{
    grid-row: span 1;
    grid-column: span 1; 
}
.proj3-text{
    grid-row: span 1;
    grid-column: span 3;
}

@media(max-width: 1024px){
    .content-container{
        display: flex;
        flex-direction: column;
    }
    header {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1000;
        height: 70px;
        display: flex;
        align-items: center;
        border: 1px solid #76ABAE;
    }
    .nav-text{
        display: none;
    }
    .nav-icon > img{
        width: 28px;
        height: 28px;
    }
}

@media(max-width: 768px){
    .gap-5{
        gap: 2rem !important;
    }
    .nav-icon > img{
        width: 22px;
        height: 22px;
    }
}

@media(max-width: 510px){
    .gap-5{
        gap: 1rem !important;
    }
    li.nav-item > a.active{
        width: 40px;
    }
}

@media(max-width: 394px){
    .gap-5{
        gap: 0rem !important;
    }
    .nav-icon > img{
        width: 17px;
        height: 17px;
    }
}